.elementor-96 .elementor-element.elementor-element-51252fe {
    text-align: left;
    width: auto;
    max-width: auto;
}

.elementor-96 .elementor-element.elementor-element-51252fe>.elementor-widget-container {
    margin: -200px 0px 0px 0px;
}

.elementor-96 .elementor-element.elementor-element-94bcee3 {
    padding: 0px 0px 100px 0px;
}

.elementor-96 .elementor-element.elementor-element-8b94df1>.elementor-container>.elementor-column>.elementor-widget-wrap {
    align-content: center;
    align-items: center;
}

.elementor-96 .elementor-element.elementor-element-8b94df1 {
    padding: 0px 0px 100px 0px;
}

.elementor-96 .elementor-element.elementor-element-2de26be>.elementor-element-populated {
    padding: 10px 10px 10px 60px;
}

.elementor-96 .elementor-element.elementor-element-b8d187d>.elementor-element-populated {
    padding: 0px 10px 0px 0px;
}

.elementor-96 .elementor-element.elementor-element-8a8be0c>.elementor-element-populated {
    padding: 0px 0px 0px 10px;
}

.elementor-96 .elementor-element.elementor-element-0fdc3ae>.elementor-widget-container {
    margin: 30px 0px 0px 0px;
}

.elementor-96 .elementor-element.elementor-element-3a69c81 {
    padding: 100px 0px 100px 0px;
}

.elementor-96 .elementor-element.elementor-element-a2699b2>.elementor-element-populated {
    padding: 10px 10px 10px 60px;
}

.elementor-96 .elementor-element.elementor-element-c9d8aa8>.elementor-container>.elementor-column>.elementor-widget-wrap {
    align-content: center;
    align-items: center;
}

.elementor-96 .elementor-element.elementor-element-c9d8aa8 {
    padding: 0px 0px 100px 0px;
}

.elementor-96 .elementor-element.elementor-element-36e6d5b>.elementor-element-populated {
    padding: 10px 60px 10px 10px;
}

.elementor-96 .elementor-element.elementor-element-ffaceb4 {
    padding: 100px 0px 100px 0px;
}

.elementor-96 .elementor-element.elementor-element-9ac0940>.elementor-container>.elementor-column>.elementor-widget-wrap {
    align-content: center;
    align-items: center;
}

.elementor-96 .elementor-element.elementor-element-9ac0940 {
    padding: 150px 70px 100px 70px;
}

.elementor-96 .elementor-element.elementor-element-c362f02>.elementor-element-populated {
    padding: 10px 10px 10px 50px;
}

.elementor-96 .elementor-element.elementor-element-f46ab59 {
    margin-top: 300px;
    margin-bottom: 0px;
    padding: 0px 0px 100px 0px;
    z-index: 9;
}

.elementor-96 .elementor-element.elementor-element-3309c24 {
    margin-top: -200px;
    margin-bottom: 0px;
}

.elementor-96 .elementor-element.elementor-element-264469f {
    padding: 100px 0px 30px 0px;
}

.elementor-96 .elementor-element.elementor-element-89b29cc {
    padding: 0px 70px 0px 70px;
}

.elementor-96 .elementor-element.elementor-element-03fdac0>.elementor-container>.elementor-column>.elementor-widget-wrap {
    align-content: flex-end;
    align-items: flex-end;
}

.elementor-96 .elementor-element.elementor-element-03fdac0 {
    padding: 100px 0px 30px 0px;
}

.elementor-96 .elementor-element.elementor-element-e7af288 {
    padding: 0px 0px 80px 0px;
}

@media(max-width:1366px) {
    .elementor-96 .elementor-element.elementor-element-9ac0940 {
        padding: 150px 15px 150px 15px;
    }
}

@media(max-width:1024px) {
    .elementor-96 .elementor-element.elementor-element-51252fe>.elementor-widget-container {
        margin: 0px 0px 0px 0px;
    }
    .elementor-96 .elementor-element.elementor-element-2de26be>.elementor-element-populated {
        padding: 50px 10px 10px 10px;
    }
    .elementor-96 .elementor-element.elementor-element-10ed950>.elementor-element-populated {
        margin: 0px 0px 40px 0px;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px;
    }
    .elementor-96 .elementor-element.elementor-element-a2699b2>.elementor-element-populated {
        padding: 10px 10px 10px 10px;
    }
    .elementor-96 .elementor-element.elementor-element-36e6d5b>.elementor-element-populated {
        padding: 50px 10px 10px 10px;
    }
    .elementor-96 .elementor-element.elementor-element-5aa4b08>.elementor-element-populated {
        margin: 30px 0px 0px 0px;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px;
    }
    .elementor-96 .elementor-element.elementor-element-bebdd80>.elementor-element-populated {
        margin: 30px 0px 0px 0px;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px;
    }
    .elementor-96 .elementor-element.elementor-element-9ac0940 {
        padding: 100px 0px 100px 0px;
    }
    .elementor-96 .elementor-element.elementor-element-c362f02>.elementor-element-populated {
        padding: 10px 10px 30px 10px;
    }
    .elementor-96 .elementor-element.elementor-element-f46ab59 {
        margin-top: 200px;
        margin-bottom: 0px;
    }
    .elementor-96 .elementor-element.elementor-element-89b29cc {
        padding: 0px 0px 0px 0px;
    }
}

@media(max-width:767px) {
    .elementor-96 .elementor-element.elementor-element-8c916cc>.elementor-element-populated {
        margin: 30px 0px 0px 0px;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px;
    }
    .elementor-96 .elementor-element.elementor-element-a4473a3>.elementor-element-populated {
        margin: 30px 0px 0px 0px;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px;
    }
    .elementor-96 .elementor-element.elementor-element-8a8be0c>.elementor-element-populated {
        padding: 0px 0px 0px 0px;
    }
    .elementor-96 .elementor-element.elementor-element-10ed950>.elementor-element-populated {
        margin: 0px 0px 0px 0px;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px;
    }
    .elementor-96 .elementor-element.elementor-element-81d7aa7>.elementor-element-populated {
        margin: 30px 0px 0px 0px;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px;
    }
}

@media(min-width:768px) {
    .elementor-96 .elementor-element.elementor-element-10ed950 {
        width: 40%;
    }
    .elementor-96 .elementor-element.elementor-element-a2699b2 {
        width: 60%;
    }
}

@media(max-width:1024px) and (min-width:768px) {
    .elementor-96 .elementor-element.elementor-element-565e339 {
        width: 50%;
    }
    .elementor-96 .elementor-element.elementor-element-8c916cc {
        width: 50%;
    }
    .elementor-96 .elementor-element.elementor-element-a4473a3 {
        width: 50%;
    }
    .elementor-96 .elementor-element.elementor-element-2b69643 {
        width: 100%;
    }
    .elementor-96 .elementor-element.elementor-element-2de26be {
        width: 100%;
    }
    .elementor-96 .elementor-element.elementor-element-10ed950 {
        width: 100%;
    }
    .elementor-96 .elementor-element.elementor-element-a2699b2 {
        width: 100%;
    }
    .elementor-96 .elementor-element.elementor-element-36e6d5b {
        width: 100%;
    }
    .elementor-96 .elementor-element.elementor-element-87f8e6e {
        width: 100%;
    }
    .elementor-96 .elementor-element.elementor-element-e2d526e {
        width: 50%;
    }
    .elementor-96 .elementor-element.elementor-element-81d7aa7 {
        width: 50%;
    }
    .elementor-96 .elementor-element.elementor-element-5aa4b08 {
        width: 50%;
    }
    .elementor-96 .elementor-element.elementor-element-bebdd80 {
        width: 50%;
    }
    .elementor-96 .elementor-element.elementor-element-f731236 {
        width: 100%;
    }
    .elementor-96 .elementor-element.elementor-element-5f94f2b {
        width: 50%;
    }
    .elementor-96 .elementor-element.elementor-element-1f75469 {
        width: 50%;
    }
    .elementor-96 .elementor-element.elementor-element-66efc6e {
        width: 50%;
    }
    .elementor-96 .elementor-element.elementor-element-c362f02 {
        width: 100%;
    }
    .elementor-96 .elementor-element.elementor-element-17b73c5 {
        width: 100%;
    }
    .elementor-96 .elementor-element.elementor-element-8e2de0d {
        width: 100%;
    }
    .elementor-96 .elementor-element.elementor-element-0284617 {
        width: 100%;
    }
}